.header {
  z-index: 100;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: $gap-l 0 0;
  background-color: $clr-base;
  transition: .3s;

  width: 100%;

  &.scroll {
    padding: 10px 0;
  }

  &.hide {
    transform: translateY(-100%);
  }

  @include mediaMax('m') {
    padding: $gap-m 0 0;
  };

  @include mediaMax('s') {
    padding: $gap-s 0 0;
  };

  @include mediaMax('xs') {
    padding: $gap-m 0 0;
  };
}

.container {
  justify-items: flex-end;
  @include layoutGrid;

  @include mediaMax('xs') {
    display: flex;
    gap: 1rem;

    width: $square-l;
  };
}

.switcher {
  grid-column: 3;

  @include mediaMax('xl') {
    grid-column: 2;
  };

  @include mediaMax('l') {
    grid-column: 1;
  };
}

.nav {
  display: flex;
  gap: 1rem;
  grid-column: 4;
  justify-self: flex-start;

  @include mediaMax('xl') {
    grid-column: 3;
  };

  @include mediaMax('l') {
    grid-column: 2;
  };
}

.button {
  @include buttonMainNormal;
  
  &.active {
    @include buttonMainActive;
  }
}