.header {
  z-index: 2;
  width: 100vw;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  transition: .2s;
  background-color: $clr-base;
  position: relative;
  transform: translateY(0);

  @include mediaMax('m') {
    padding: 30px 0;
  };

  @include mediaMax('s') {
    padding: 20px 0;
  };

  @include mediaMax('xs') {
    padding: 30px 0;
  };
}

.container {
  justify-items: flex-end;
  @include layoutGrid;

  @include mediaMax('xs') {
    display: flex;
    width: 300px;
    gap: 1rem;
  };
}

.switcher {
  grid-column: 3;

  @include mediaMax('xl') {
    grid-column: 2;
  };

  @include mediaMax('l') {
    grid-column: 1;
  };
}

.nav {
  display: flex;
  gap: 1rem;
  grid-column: 4;
  justify-self: flex-start;

  @include mediaMax('xl') {
    grid-column: 3;
  };

  @include mediaMax('l') {
    grid-column: 2;
  };
}

.button {
  @include buttonMainNormal;
  
  &.active {
    @include buttonMainActive;
  }
}