.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 0;
}

.nav {
  display: flex;
  gap: 1rem;
  margin-right: 1rem;
}

.button {
  @include buttonMainNormal;
  
  &.active {
    @include buttonMainActive;
  }
}