.container {
  background-color: $clr-base-2;
  padding: $section-padding;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  border-radius: 1rem;
}

.title {
  text-transform: uppercase;
  color: $clr-active-2;
  margin-bottom: $section-padding;
}

.item {
  margin-top: $section-padding;
}

.info {
  margin-bottom: 1rem;
  color: $clr-second-3;
}

.position {
  margin-bottom: 1rem;
}

.certificate {
  @include buttonSecondNormal;
}