.container {
  @include buttonMainActive;
  @include basicSquare;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mediaMax('xl') {
    grid-row: 3;
    grid-column: 3;
  }

  @include mediaMax('l') {
    grid-row: 2;
    grid-column: 2;
  }

  @include mediaMax('xs') {
    grid-row: 3;
    grid-column: 1;
  };
}