@mixin buttonBase {
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-decoration: none;

  transition: .2s;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 8px;


  height: $minButtonSize;
  min-width: $minButtonSize;
}

@mixin buttonMainNormal {
  @include buttonBase;
  background-color: transparent;
  color: $clr-second;

  &:hover {
    background-color: $clr-base-2;
  }
}

@mixin buttonMainActive {
  @include buttonBase;
  background-color: $clr-active-2;
  color: $clr-second;

  &:hover {
    background-color: $clr-active;
  }
}

@mixin buttonSecondNormal {
  @include buttonBase;
  padding: .5rem;
  background-color: transparent;
  color: $clr-active-2;
  border: 2px solid $clr-active-2;

  height: auto;
  width: max-content;

  &:hover {
    border-color: $clr-active;
    color: $clr-active;
  }
}

@mixin buttonRoundNormal {
  @include buttonBase;
  background-color: $clr-base-2;
  color: $clr-second;

  width: $minButtonSize;

  &:hover {
    background-color: $clr-active;
  }
}