$clr-base: rgb(24, 25, 34);
$clr-base-2: rgb(33, 34, 45);
$clr-base-3: rgb(19, 21, 27);

$clr-second: rgb(255, 255, 255);
$clr-second-2: #9293a0;
$clr-second-3: rgb(95, 96, 109);

$clr-active: rgb(78, 169, 252);
$clr-active-2: rgb(36, 149, 252);
$clr-active-3: rgba(37, 149, 253, 0.5);
$clr-active-4: rgb(162, 210, 255);

$gradient-1: linear-gradient(0deg, rgba($clr-base, .61), rgba($clr-base, .61));