$font-desktop: 16px;
$font-mobile: 14px;

@mixin activeTitle {
  text-transform: uppercase;
  color: $clr-active-2;
}

@mixin activeText {
  font-weight: 600;
  color: $clr-active-2;
}

@mixin linkText {
  @include activeText;
  transition: .2s;

  &:hover {
    color: $clr-active;
  }
}