@mixin buttonBase {
  transition: .2s;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-decoration: none;
}

@mixin buttonMainNormal {
  @include buttonBase;
  border-radius: 8px;
  background-color: transparent;
  color: $clr-second;
  height: 52px;
  min-width: 52px;

  &:hover {
    background-color: $clr-base-2;
  }
}

@mixin buttonMainActive {
  @include buttonBase;
  height: 52px;
  min-width: 52px;
  border-radius: 8px;
  background-color: $clr-active-2;
  color: $clr-second;

  &:hover {
    background-color: $clr-active;
  }
}

@mixin buttonSecondNormal {
  @include buttonBase;
  width: max-content;
  border-radius: 7px;
  padding: .5rem;
  background-color: transparent;
  color: $clr-active-2;
  border: 2px solid $clr-active-2;

  &:hover {
    border: 1px solid $clr-active;
    color: $clr-active;
  }
}

@mixin buttonRoundNormal {
  @include buttonBase;
  border-radius: 8px;
  background-color: $clr-base-2;
  color: $clr-second;
  height: 52px;
  width: 52px;

  &:hover {
    background-color: $clr-active;
  }
}