$clr-base: rgb(24, 25, 34);
$clr-base-2: rgb(33, 34, 45);
$clr-base-3: rgb(19, 21, 27);

$clr-second: rgb(255, 255, 255);
$clr-second-2: #9293a0;
$clr-second-3: rgb(95, 96, 109);

$clr-content: rgb(181, 183, 194);
$clr-scroll: rgba(181, 183, 194, 0.13);

$clr-active: rgb(78, 169, 252);
$clr-active-2: rgb(36, 149, 252);
$clr-active-3: rgba(37, 149, 253, 0.5);

$clr-active-4: rgb(162, 210, 255);

$clr-blur: rgba(36, 149, 252, 0.3);
$clr-blur-2: rgba(254, 185, 88, 0.3);
$clr-blur-3: rgb(30, 170, 20, 0.3);

$clr-hover: rgb(201, 5, 211);

$clr-danger: rgb(235, 13, 106);