.container {
  @include mediaMax('xs') {
    grid-row: 2;
    grid-column: 1;
  };
}

.name {
  font-size: 60px;
  line-height: 1;

  @include mediaMax('m') {
    font-size: 38px;
  };
}

.position {
  text-transform: uppercase;
  color: $clr-active-2;
}

.button {
  @include buttonSecondNormal;
  margin-top: 38px;

  @include mediaMax('s') {
    margin-top: 15px;
  };
}