.container {
  @include sectionPadding;
  @include mediaMax('xs') {
    grid-row: 2;
    grid-column: 1;
  };
}

.name {
  font-size: 60px;
  line-height: 1;

  @include mediaMax('m') {
    font-size: 34px;
  };
}

.position {
  @include activeTitle;
  margin-top: 15px;

  @include mediaMax('m') {
    font-size: 1.1rem;
    margin-top: 10px;
  };
}

.button {
  @include buttonSecondNormal;
  margin-top: 30px;

  @include mediaMax('m') {
    margin-top: 18px;
  };

  @include mediaMax('s') {
    margin-top: 12px;
  };
}