.container {
  background-color: $clr-base-2;
  padding: $section-padding;
  border-radius: 1rem;
  grid-column: 3;
  grid-row: 1 / 3;
}

.title {
  text-transform: uppercase;
  color: $clr-active-2;
  margin-bottom: $section-padding;
}

.skill {
  margin-top: 1rem;
}