.container {
  @include sectionPadding;
  border-radius: 1rem;

  height: min-content;

  &.bg {
    background-color: $clr-base-2;

    .title {
      color: $clr-active-2;
    }
  }
}

.education {
  grid-row: 2 / 4;
  grid-column: 1 / 3;

  @include mediaMax('l') {
    grid-row: 4 / 6;
    grid-column: 1 / 3;
  };

  @include mediaMax('xs') {
    grid-row: 5;
    grid-column: 1;
  };
}

.work {
  grid-row: 4 / 6;
  grid-column: 1 / 3;

  @include mediaMax('xl') {
    grid-row: 6 / 7;
    grid-column: 1 / 3;
  };

  @include mediaMax('l') {
    grid-row: 7 / 9;
    grid-column: 2;
  }

  @include mediaMax('m') {
    grid-row: 8 / 10;
    grid-column: 1 / 3;
  }

  @include mediaMax('xs') {
    grid-row: 7;
    grid-column: 1;
  };
}

.title {
  @include sectionTitleMargin;
  text-transform: uppercase;
}

.item {
  @include sectionTitleMargin;

  &:last-child {
    margin-bottom: 0;
  }
}

.info {
  margin-bottom: 1rem;
  color: $clr-second-3;
}

.position {
  @include activeText;
}

.description {
  white-space: pre-line;
}

.certificate {
  @include buttonSecondNormal;
  margin-top: 1rem;
}