.container {
  @include sectionPadding;

  height: max-content;

  @include mediaMax('xl') {
    grid-column: 1;
    grid-row: 4;
  };

  @include mediaMax('l') {
    grid-column: 2;
    grid-row: 3;
  }

  @include mediaMax('xs') {
    grid-column: 1;
    grid-row: 8;
  };
}

.title {
  @include sectionTitleMargin;
  text-transform: uppercase;
}

.item {
  margin-top: 1rem;
}

.lang {
  display: inline-block;
  min-width: 120px;

  @include mediaMax('m') {
    min-width: 95px;
  }
}

.level {
  @include activeText;
}