.container {
  padding: $section-padding;
  height: max-content;
}

.title {
  text-transform: uppercase;
  margin-bottom: $section-padding;
}

.item {
  margin-top: 1rem;
}

.lang {
  display: inline-block;
  min-width: 120px;
}

.level {
  @include activeText;
}