.footer {
  background-color: $clr-base-2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  gap: 15px;

  width: 100vw;
  min-width: 100%;

  .item {
    color: $clr-second-3;
    font-size: $font-mobile;
  }
}