.container {
  @include sectionPadding;
  background-color: $clr-base-2;
  border-radius: 1rem;
  grid-column: 3;
  grid-row: 5;
  height: 300px;

  @include mediaMax('xl') {
    grid-column: 3;
    grid-row: 6;
    align-self: flex-end
  };

  @include mediaMax('l') {
    grid-column: 1;
    grid-row: 8;
  }

  @include mediaMax('m') {
    grid-column: 2;
    grid-row: 10;
    height: min-content;
  }

  @include mediaMax('xs') {
    grid-column: 1;
    grid-row: 9;
    height: 300px
  };
}

.title {
  text-transform: uppercase;
  color: $clr-active-2;
  @include sectionTitleMargin;
}

.location {
  margin-bottom: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

a.item {
  @include linkText;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.img {
  transition: .2s;

  width: 32px;
  height: 32px;

    &:hover {
      transform: scale(.9);
    }
}