.container {
  @include sectionPadding;
  background-color: $clr-base-2;
  border-radius: 1rem;
  
  height: 300px;
  grid-row: 5;
  grid-column: 3;


  @include mediaMax('xl') {
    align-self: flex-end;

    grid-row: 6;
    grid-column: 3;
  };

  @include mediaMax('l') {
    grid-row: 8;
    grid-column: 1;
  }

  @include mediaMax('m') {
    justify-self: end;

    width: 250px;
    height: 250px;
    grid-row: 10;
    grid-column: 2;
  }

  @include mediaMax('s') {
    width: 200px;
    height: 200px;
  }

  @include mediaMax('xs') {
    grid-row: 9;
    grid-column: 1;
  };
}

.title {
  text-transform: uppercase;
  color: $clr-active-2;
  @include sectionTitleMargin;
}

.location {
  margin-bottom: 1rem;
}

.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

a.item {
  @include linkText;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.img {
  transition: .2s;

  width: 32px;
  height: 32px;

    &:hover {
      transform: scale(.9);
    }
}