.container {
  display: grid;
  flex-direction: column;
  width: 100%;
  gap: 100px;
  grid-template-columns: 4fr 3fr 3fr;
  @include sectionPadding;

  @include mediaMax('xl') {
    width: min-content;
    gap: 50px;
    grid-template-columns: repeat(3, 300px);
  };

  @include mediaMax('l') {
    grid-template-columns: repeat(2, 300px);
  };

  @include mediaMax('m') {
    grid-template-columns: repeat(2, 200px);
    gap: 30px;
  };

  @include mediaMax('s') {
    grid-template-columns: repeat(2, 180px);
    gap: 20px;
  }

  @include mediaMax('xs') {
    grid-template-columns: 200px 80px;
    gap: 20px;
  }
}

.title {
  grid-row: 2;
  grid-column: 1;
  font-size: 100px;
  width: 0%;
  text-transform: uppercase;
  color: $clr-active-2;
  z-index: 3;

  @include mediaMax('m') {
    font-size: 60px;
  };

}

.photo {
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  grid-row: 2;
  grid-column: 2 / 4;
  width: 700px;
  height: 700px;
  margin-top: -5rem;
  border-radius: 30px;
  margin-bottom: 50px;
  transition: transform 1.5s, border .3s, opacity 1.5s;
  transform: translateY(5rem);
  opacity: 0;
  border: 2px solid $clr-second-3;
  background: rgba($clr-base, 1);
  overflow: hidden;

  @include mediaMax('xl') {
    grid-column: 2 / 4;
    justify-self: end
  };

  @include mediaMax('l') {
    grid-row: 4;
    grid-column: 1 / 3;
    width: 550px;
    height: 550px;
    margin-top: -3rem;
    transform: translateY(7rem);
  };

  @include mediaMax('m') {
    width: 380px;
    height: 380px;
    margin-top: 0rem;
    transform: translateY(10rem);
  };

  @include mediaMax('s') {
    width: 300px;
    height: 300px;
  };

  &:hover {
    border: 2px solid $clr-active;
  }

  &.active {
    transform: translateY(0rem);
    opacity: .6;
  }

  .img {
    transition: .3s;
    z-index: 1;
    width: auto;
    height: 100%;
    background-size: cover;
    
  }
}

.list {
  grid-row: 3;
  grid-column: 2;

  @include mediaMax('l') {
    grid-row: 5
  };
}

.disc {
  grid-row: 3;
  grid-column: 1;
  white-space: pre-line;

  @include mediaMax('l') {
    grid-row: 5 / 7;
  };
}

.linkList {
  grid-row: 3;
  grid-column: 3;

  @include mediaMax('l') {
    grid-column: 2;
    grid-row: 6;
  };
}

.tech {
  font-weight: bold;
  text-transform: uppercase;
}

.link {
  @include linkText;
}

.activeText {
  color: clr-second-3;
}

.item {
  @include mediaMax('l') {
    margin-top: 1rem;
  };
}