.main {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-top: 152px;

  @include mediaMax('m') {
    margin-top: 112px;
  };

  @include mediaMax('s') {
    margin-top: 92px;
  };

  @include mediaMax('xs') {
    margin-top: 112px;
  };
}